# top-most EditorConfig file
root = true

[*]
charset = utf-8

end_of_line = lf
insert_final_newline = true

# 4 space indentation
indent_style = space
indent_size = 4

# disable redundant style warnings
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent