[submodule "lib/FFXIVClientStructs"]
	path = lib/FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs
[submodule "lib/Nomade040-nmd"]
	path = lib/Nomade040-nmd
	url = https://github.com/Nomade040/nmd.git
[submodule "lib/TsudaKageyu-minhook"]
	path = lib/TsudaKageyu-minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/goatcorp/gc-cimgui
[submodule "lib/cimplot"]
	path = lib/cimplot
	url = https://github.com/goatcorp/gc-cimplot
[submodule "lib/cimguizmo"]
	path = lib/cimguizmo
	url = https://github.com/goatcorp/gc-cimguizmo
[submodule "lib/Hexa.NET.ImGui"]
	path = lib/Hexa.NET.ImGui
	url = https://github.com/HexaEngine/Hexa.NET.ImGui.git
