[submodule "src/lib/ImGuiScene"]
	path = src/lib/ImGuiScene
	url = https://github.com/goatcorp/ImGuiScene
[submodule "src/lib/FFXIVClientStructs"]
	path = src/lib/FFXIVClientStructs
	url = https://github.com/goatcorp/FFXIVClientStructs.git
[submodule "src/lib/SharpDX.Desktop"]
	path = src/lib/SharpDX.Desktop
	url = https://github.com/goatcorp/SharpDX.Desktop.git
