[submodule "lib/ImGuiScene"]
	path = lib/ImGuiScene
	url = https://github.com/goatcorp/ImGuiScene
[submodule "lib/FFXIVClientStructs"]
	path = lib/FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs
[submodule "lib/Nomade040-nmd"]
	path = lib/Nomade040-nmd
	url = https://github.com/Nomade040/nmd.git
[submodule "lib/TsudaKageyu-minhook"]
	path = lib/TsudaKageyu-minhook
	url = https://github.com/TsudaKageyu/minhook.git
